<% content_for :head do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<% end %>

<div class="container">
  <form>
    <div class="form-row align-items-center">
      <div class="col-sm-3">
        <div class="input-group mb-2 mb-sm-0">
          <div class="input-group-addon">@</div>
          <input name="u" id="searchBox" type="search" class="form-control" placeholder="Username"
            <% if params[:u] %>
              value="<%= params[:u] %>"
            <% end %>
          ></input>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search Twitter</button>
      </div>
    </div>
  </form>
  <p />

  <% if @message_error != "" %>
    <div class="alert alert-danger" role="alert">
      Error: <%= @message_error %>
    </div>
  <% end %>

  <% if @tweets_unread %>
    <div class="queryResults" class="list-group">
      <% @tweets_unread.each do |t| %>
        <form>
          <button type="submit" class="btn btn-outline-secondary btn-small">Mark Read</button>
          <input type="hidden" name="u" value="<%= params[:u] %>">
          <input type="hidden" name="mark_read" value="<%= t.id %>">
          <%= t.text %>
        </form>
      <% end %>
    </div>
<% end %>

</div>
